<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="play.digigods.flaresense" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- GCM !-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- For protecting GCM messages so that only your app can receive them -->
    <permission
        android:name="play.digigods.flaresense.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="play.digigods.flaresense.permission.C2D_MESSAGE" />

    <!-- FOR CHECKING INTERNET CONNECTION ! -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/flaresense"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_ID" />

        <activity
            android:name=".P1_M1_intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".P1_M2M3_Java"
            android:label="@string/title_activity_p1__m2_m3__java"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".P1_M4_Synchro"
            android:label="@string/title_activity_p1__m4__synchro" >
        </activity>
    </application>

</manifest>
